@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?a3kyub');
  src:  url('../fonts/icomoon.eot?a3kyub#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?a3kyub') format('truetype'),
    url('../fonts/icomoon.woff?a3kyub') format('woff'),
    url('../fonts/icomoon.svg?a3kyub#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-birch-whisk:before {
  content: "\e903";
}
.icon-sauna:before {
  content: "\e900";
}
.icon-barbecue:before {
  content: "\e901";
}
.icon-towel:before {
  content: "\e902";
}
