body {
	color: #fdfdfe ;
	font-family: "Lobster" "Roboto" sans-serif;
	font-size: 12px;
	padding-right: 0px;



}

.wrapper {
	max-width: 1071px;
	margin: 0 auto;
}

h1 {
	color: #040404;
	font-size: 55px;
	font-weight: 600;
	line-height: 80px;
	text-transform: uppercase;
	padding-bottom: 20px;
	margin-bottom: 45px;
	font-family: 'Philosopher', sans-serif;
}

h1 .lg {
	color: #040404;
	font-size: 35px;
	font-weight: 700;
	line-height: 30px;
	display: block;
	font-family: 'Roboto', sans-serif;
	
}

/*buttons*/

.btn {
	width: 140px;
	height: 35px;
	display: inline-block;
	wertical-align:middle;
	padding: 10px  10px 10px;
	background-color:  #5c3104;
	color: #fdfdfe;
	font-family:"Roboto" sans-serif; 
	font-size: 15px;
	font-weight: 500;
	text-transform: uppercase;
	text-decoration: none;

} 


.btn:hover {
	background: none;
	display: inline-block;
	wertical-align:middle;
	text-transform: uppercase;
	border: 2px solid #5c3104;
	text-decoration: none;
	color:  #5c3104;
	transition: 0.7s;
	padding: 10px  10px 10px;
	font-weight: 500;
	font-size: 15px;


}

header {
	position: absolute;
	top: 0px;
	left: 0;
	right: 0;
	z-index: 99;
}

.info_list {
	display: flex;
	align-items:center;
	justify-content:space-between;
}


.info-text {
	
	align-items:center;
	display: flex;
	list-style: none;
	font-size: 15px;
	font-weight: 400;
	line-height: 20px;
	text-transform: uppercase;
	margin-bottom: 20px;
	color: #ffffff;
	margin-left: 3px;
}

.form-field_text {
	margin: 10px;
	
}

.form-field_text i {
	color: #f6f0cc;
	font-size: 30px;
}

.info-wrap{
		padding-bottom: 0px;
}

.header-wrap {
	display: flex;
	align-items:center;
	justify-content:space-between;
	margin: -5px;


}


.menu {
	list-style: none;
	display: flex;
	margin-left: 175px;
}

.menu_item {
	margin-left: 50px;
	position: relative;
}

.menu_item:after {
	content: "\\\\";
	display: block;
	color: #040404;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	position: absolute;
	left: 100%;
	top: 0px;
	margin-left: 25px;
	
}

.menu_item:last-child:after {
	display: none;
}

.menu_link {
	color: #040404;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	height: 2px;
}

.menu_link:hover {
	color: #9aac5a;
	display: block;
	height: 2px;
	display: block;
	width: 0%;
	margin-bottom: 10px;
	
}


/*banner*/

.banner {
	padding-top: 350px;
	padding-bottom: 50px;
	max-width: 100%;
	min-height: 100%;
	text-align: center;
	background: url(../img/bg-2.png) no-repeat center top;
	background-size: 100%;

}

.logo img {
	width: 140px;
	height:146px;
}


/* partners */

.partners {
	padding: 50px;
	max-width: 1000px;
	margin: 0 auto;
	margin-left: 0px;
	border: 10px;


}

.partners-img {
	top:0;
	position: relative;
	
	
}

h2 {
	color: #040404;
	font-size: 25px;
	margin: 100px;
	position: absolute;
	padding: 100px;
	margin-left: 25px;
}

h3 {
	color: #8ca7d6;
	font-size: 40px;
	margin: 320px;
	margin-left: 100px;
	z-index: auto;
	position: absolute;
}

p {
	color: #040404;
	font-size: 25px;
	margin: 390px;
	margin-left: 100px;
	z-index: auto;
	position: absolute;
}

/* prices*/

.prices {
	padding: 100px;
}


.prices_title {
	font-size: 25px;
	text-align: center;
	color: #040404;
	text-transform: uppercase;
	font-weight: 600;
	font-family: 'Philosopher', sans-serif;
}

.prices-item {
	padding-top: 100px;
	display: flex;
	justify-content:space-between;
}

.prices_info {
	font-weight: 600;
	font-family: "Roboto" sans-serif;
	font-size: 20px;
	color: #040404;
	text-transform: capitalize;
	line-height:55px;
	
	
}

.prices-item-info {
	position: absolute;
	bottom: 55px;
	left: 20px;
}


.prices-item_img {
	display: block;
	position: relative;
	text-align: center;
}


.prices-item_img img {
	width: 190px;
	height: 390px;

}

.prices-item-icon {
	font-size: 50px;
	position: absolute;
	bottom: 150px;
	left: 60px;
	opacity: 0.5;
	color: #f6f0cc;
	border: 2px solid #f6f0cc;
	padding: 5px 5px 5px;
}


.prices-item-icon img {
	width: 50px;
	height: 50px;
}

.prices-item-title {
	font-weight: 600;
	font-family: "Roboto" sans-serif;
	font-size: 20px;
	color: #040404;
	text-transform: uppercase;
	position: absolute;
	bottom: 400px;
	
}
/* box-item */


.box-item {
	min-height: 100%;
	max-width: 100%;
	background: url(../img/box-item.png) no-repeat center top;
	background-size: 100%;
	padding: 100px;
	margin-top: 100px;

	}

.box-item-top {
	font-weight: 600;
	font-family: 'Philosopher', sans-serif;
	font-size: 25px;
	color: #040404;
	text-transform: uppercase;
	text-align: center;
}

.box-item-bottom {
	font-weight: 600;
	font-family: 'Philosopher', sans-serif;
	font-size: 25px;
	color: #fffefe;
	text-transform: uppercase;
	text-align: center;
	margin-top: 410px;
}


/*prices*/


.prices_wrap {
	margin-top: 100px;

}

.prices_list {
	display: flex;
	position: relative;
	margin-left: 40px;

}

.prices_wrap_img img {
	width: 630px;

}


.prices_wrap_right {
	padding-left: 3px;

}


.prices_wrap_text_title {
	width: 300px;
	position: absolute;
	font-size: 25px;
	color: #fefefe;
	text-transform: uppercase;
	font-family: 'Philosopher', sans-serif;
	font-weight: 700;
	margin-top: -110px;
	text-align: center;
	justify:center;
	align-items:center;
	margin-left: 150px;

}

.prices_wrap_text_info {

	width: 630px;
	height: 150px;
	display: flex;
	background: #f6f0cc;
	padding: 30px 30px;
	text-align: center;
	justify-content:center;

}

.prices_wrap_list {
	color: #020202;
	font-size: 17px;
	list-style: none;
	text-align: center;
	margin-left: 30px;
	white-space:nowrap;
	margin-top: 15px;
}

.prices_wrap_list:after {
	display: block;
	content: '';
	background: #e4980e;
	height: 2px;
	width: 100px;
	margin: 10px auto;


}

.prices_wrap_list:last-child:after {
	background: none;
}

.prices_wrap_footer {
	position: relative;
}

.prices_wrap_footer:after {
	display: block;
	content: '';
	border-right: 2px solid #fff;
	height: 100px;
	position: absolute;
	top:50%;
	left: 100%;
	margin-left: 15px;
	margin-top: -50px;



}

.prices_wrap_footer:last-child:after {
	border-right:none;
}


/*advantages*/

.advantages {
	margin-top: 150px;
}

.advantages_title {
	font-size: 25px;
	text-align: center;
	color: #040404;
	text-transform: uppercase;
	font-weight: 700;
	font-family: 'Philosopher', sans-serif;

}

.advantages_item {
	display: flex;
	justify-content:space-between;
	margin-top: 50px;
}

.advantages_left_item img {
	width: 100px;
	height: 95px;
}

.advantages_text {
	color: #030303;
	font-size: 25px;
	font-family: "Roboto" sans-serif;
	line-height: 30px;


}

.advantages_left_item {
	display: flex;
	align-items:flex-end;
	margin-bottom: 40px;
}

.advantages_text:after {
	content: "";
	display: block;
	background-color: #e4980e;
	width: 400px;
	height: 3px;
	margin-left: -80px;
	margin-top: 5px;
}

/*foto-slider*/

.foto-slider-text {
	font-size: 25px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'Philosopher', sans-serif;
}

.foto-slider  {
	padding-top: 50px;
	background: url(img/slider.png) no-repeat center top;
	min-height: 100%;
	max-width: 100%;
	background-size: 100%;
	margin-top: 100px;

	
}

.slider_item {
	position: relative;
	display: flex;
	margin-top: 20px;
	margin-left: 230px;
}

.slider_item img {
	width: 640px;
	height: 430px;
}

.slider_item .slick-dots{
	position: absolute;
	top:50%;
}

.slider_item_buttons {
	position: absolute;
	padding-left: 440px;
	margin: -230px;
}

.slider_item_buttons button:hover {
	background-color: #9aac5a;
	width: 35px;
	height: 35px;
	border-radius: 50%;


}

.slider_item_buttons button {
width: 35px;
height: 35px;
background-color: #e4980e;
border-radius: 50%;
border: 2px solid #ffffff;

}

.slick-next {
	margin-left:610px;
}


i {
	color: #ffffff;
}

/*comments*/


.comments {
	padding: 50px;

}

.comments_title {
	font-size: 25px;
	text-align: center;
	text-transform: uppercase;
	color: #010101;
	font-family: 'Philosopher', sans-serif;
}

.coments-list-item {
	width: 240px;
	padding: 25px 15px 30px;
	border: solid transparent;

	background-color: #fff;
	width: 250px;
	height: 450px;
	display: block;
}
	
}

.coments-list-item h5 {
	font-family: 'Roboto', sans-serif;
}

.comments-list {
	padding: 30px;
	display: flex;
	justify-content:space-between;
	flex-wrap:wrap;

}

.comments-list_img {
	background-color: #9aac5a;
	width: 130px;
	height: 130px;
	border-radius: 50%;
	border: 3px solid #9aac5a;
	justify-content:center;
	align-items:center;
	margin: 0 auto 25px;
	

}

.comments-list_img img {
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 50%;
}

.coments-list-item:hover{
	background-color: #f6f0cc;
	width: 250px;
	height: 450px;
	display: block;
}

.coments-list-item h5 {
	font-size: 20px;
	color: #010101;
	font-weight: 600;

}

.comments-list_text {
	font-style: 400;
	font-size: 15px;
	color: #010101;
	font-family: 'Roboto', sans-serif;
	
}

.coments-list-item h5:after {
	content: '';
	display: block;
	margin: 15px auto 15px;
	background-color: #ef531c;
	width: 70px;
	height: 3px;
}

.coments-icon i {
	margin-top: 5px;
	margin-left: 10px;
	color: #9aac5a;
	float: right;

}

/*contact*/

.contact {
	background:url(img/contact.png) no-repeat center top;
	padding-top: 100px;
	min-height: 98%;
	max-width: 100%;
	background-size: 100%;
	margin-top: 50px;

}

.contact-wrap-left {
	padding-top: 170px;
}

.contact-wrap-left img {
	width: 440px;
	height: 290px;
}

.contact-title {
	font-size: 30px;
	color: #fefefe;
	font-weight: 600;
	text-align: center;
	text-transform: uppercase;
	line-height: 35px;
	margin-top: 45px;
	font-family: 'Philosopher', sans-serif;
}

.contact-wrap-right {
	padding-top: 200px;
	width: 500px;
}

.contact-wrap {
	display: flex;
	justify-content:space-between;
}


/*form*/

.form-field {
	position: relative;
	margin-bottom: 10px;
}

.contact-form {
	margin-top: -25px;
}

.form-control {
	padding: 0 70px 0 25px;
	display: block;
	width: 100%;
	height: 45px;
	background-color: #ffffff;
	border: 2px solid #e4980e;
	font-size: 15px;
	font-family: "Roboto" sans-serif;
	font-weight: 400;
	transition: all 0.3s;
}

.form-control:focus {
	border-color: #9aac5a;
}

.btn--warning {
	border: none;
}

textarea.form-control {
	min-height: 125px;
	resize:none;
	padding-top: 10px;
}


/*footer*/

.footer {
	margin-top: -10; 
	background-color: #9aac5a;
	height: 110px;
	
}

.header-text {
	display: flex;
	margin-top: 0px;
	justify-content:space-between;
}

.header-wrap {
	padding-bottom: 50px;
}


@media (max-width: 1280px) {
	.menu_item {
		margin-top: -15px;
	}

	.prices {
		margin-top: -200px;
	}

	.prices_wrap {
	margin-top: -100px;
}

.prices_list {
	margin-left: none;

}


	.box-item-bottom {
		margin-top: 370px;
		text-align: center;
	}

	.comments {
		margin-top: -200px;
	}


	.contact {
		min-height: 98%;
		min-height: 50% ; webkit
	}

	.contact-wrap-left {
		margin-top: -30px;
		padding-top: 150px; webkit
	}

	.contact-wrap-right {
		margin-top: -20px;
		padding-top: 170px; webkit
	}

}




@media (max-width: 1200px) {
	.menu_item {
		margin-top: -30px;
	}
	.info-text {
		margin-top: -20px;
	}

	h1 {
		margin-top: -80px;

	}

	.prices-item_img {
		margin-left: 5px;
	}

	.box-item-bottom {
		margin-top: 305px;
		text-align: center;
	}

	.box-item-top {
		margin-top: -10px;
		text-align: center;
	}

	.slider_item img {
		width: 540px;
		height: 350px;
	}

	.box-time_top {
		display: inline-block;
		flex:none;
		text-align: center;

	}



	.slider_item {
		margin-left: 280px;
	}

	.slider_item_buttons {
		padding-left: 540px;
		margin: -280px;
		margin-top: -200px;
	}

	.slick-next {
	margin-left:510px;
	}

	.slick-dots {
	
    top: 150px;
    padding-left: 235px;
}

	

	.contact-wrap-left {
		margin-top: -90px;
	}

	.contact-wrap-right {
		margin-top: -85px;
	}

	.menu {
	margin-top: 3px;
}

}
	
